%h1=t 'remove', :title => @track.title, :scope => 'audio-player.playlist.track'
%p=t 'warn-remove', :scope => 'audio-player.playlist.track'

.inset
  %table.index#audio
    %tbody
      = render :partial => 'track', :object => @track

- form_for [:admin, @track], :html => { :method => :delete } do |form|

  %p.buttons
    %input.button{:type=>"submit", :value => t('remove') }/
    = t('or')
    = link_to t('cancel'), admin_playlists_path
