- include_audio_player
- with_options :scope => 'audio-player.playlist.track' do |scope|

  %h1=scope.t 'remove', :title => @track.title

  .inset
    = render :partial => 'track_details', :object => @track

  %p=scope.t 'warn-remove'

  - form_for [:admin, @track], :html => { :method => :delete } do |form|

    %p.buttons
      %input.button{:type=>"submit", :value => t('remove') }/
      = t('or')
      = link_to t('cancel'), admin_playlists_path
